.container
  nav.filter-nav
    .buttons
      button.btn-primary--border-hover.active show all
      button.btn-primary--border-hover new arrivals
      button.btn-primary--border-hover shaving
      button.btn-primary--border-hover cleaning
      button.btn-primary--border-hover cutting
