footer
  .footer-content
    .container
      .row
        .col
          h4 opening hours
          p
            span.text-decor Monday: 
            span.day-hour 8.00 am - 6.00 pm
          p
            span.text-decor Tuesday: 
            span.day-hour 8.00 am - 6.00 pm
          p
            span.text-decor Wednesday: 
            span.day-hour 8.00 am - 6.00 pm
          p
            span.text-decor Thursday: 
            span.day-hour 8.00 am - 6.00 pm
          p
            span.text-decor Friday: 
            span.day-hour 8.00 am - 6.00 pm
          p
            span.text-decor Saturday: 
            span.day-hour 8.00 am - 4.00 pm
          p
            span.text-decor Sunday: 
            span.day-hour Closed

        .col
          h4 follow us
          ul
            li
              a(href="#") facebook
            li
              a(href="#") linkedin
            li
              a(href="#") google +
            li
              a(href="#") instagram
            li
              a(href="#") twitter
            li
              a(href="#") youtube
            
        .col
          h4 contacts

          p.text-decor location:
          .text-gap
            a(href="#" target="_blank") 141 Babera Street, Beverly Hill Abony, NYC 12045

          p.text-decor phone:
          .text-gap
            a(href="tel:(800) 0123 456 789") (800) 0123 456 789

          p.text-decor e-mail:
          a(href="mailto:barbershop@email.com") barbershop@email.com
 
  .footer-copyright
    .container
      p &copy; 2016 by Cigawell PSD Template | All rights reserved
