nav.menu
  .menu__menu-container
    img.menu__logo(src="images/logo.png", alt="logo")
    ul.nav
      li
        a(href="") home
      li
        a(href="") about us
      li
        a(href="") services
      li
        a(href="") shop
      li
        a(href="") blog
      li
        a(href="") contact us
      li
        button.btn-search
          svg#search-icon(fill='#FFFFFF', height='32', viewBox='0 0 32 32', width='32', xmlns='http://www.w3.org/2000/svg')
            path(d='M12 0 A12 12 0 0 0 0 12 A12 12 0 0 0 12 24 A12 12 0 0 0 18.5 22.25 L28 32 L32 28 L22.25 18.5 A12 12 0 0 0 24 12 A12 12 0 0 0 12 0 M12 4 A8 8 0 0 1 12 20 A8 8 0 0 1 12 4')
      li.link-phone
        a(href="tel:+49 123 456 789") CAll US: +49 123 456 789