section.slider-container
  .slider
    .slider__images 
      figure.slide.active 
        .img-bg(style="background-image: url('images/slider-photos/slider-photo-3.jpg');")
        #text-box
          h1  new york´s N°1 barbershop
          h3 you wont it we cut it for you
          button.btn-primary make an appointment
      figure.slide
        .img-bg(style="background-image: url('images/slider-photos/slider-photo-2.jpg');")
        #text-box
          h1 we offer best the best shaves
          h3 you wont it we cut it for you
          button.btn-primary make an appointment
      figure.slide
        .img-bg(style="background-image: url('images/slider-photos/slider-photo-1.jpg');")
        #text-box
          h1 buy your shaving accessories
          h3 you wont it we cut it for you
          button.btn-primary make an appointment
    .buttons
      .prev.buttons__button-left
        .arrow-left
      .next.buttons__button-right
        .arrow-right
    .dots
      .dot.dot-active
      .dot
      .dot

