section.slider-logos
  .container
    .glide
      .glide__track(data-glide-el='track')
        ul.glide__slides
          li
            a(href="#")
              .glide__slide-item(style="background-image: url('images/logos-slider/logo-slider-1.jpg');")
          li
            a(href="#")
              .glide__slide-item(style="background-image: url('images/logos-slider/logo-slider-2.jpg');")
          li
            a(href="#")
              .glide__slide-item(style="background-image: url('images/logos-slider/logo-slider-3.jpg');")
          li
            a(href="#")
              .glide__slide-item(style="background-image: url('images/logos-slider/logo-slider-4.jpg');")
          li
            a(href="#")
              .glide__slide-item(style="background-image: url('images/logos-slider/logo-slider-5.jpg');")