section.gallery-feed
  .container-fluid
    .row
      .col.col-order-1
        .gallery-feed__content
          .ratio
          .box-content
            h5.h5 we are experienced in shaving
            p.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam.
            a.btn-read-more(href="#") read more
      .col
        .gallery-feed__photo
          .photo-bg(style="background-image: url('images/gallery-feed/image-2.jpg');")

    .row
      .col
        .gallery-feed__photo
          .photo-bg(style="background-image: url('images/gallery-feed/image-1.jpg');")
      .col
        .gallery-feed__content
          .ratio
          .box-content
            h5.h5 quality for clean men beards
            p.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam.
            a.btn-read-more(href="#") read more
