section.offer
  .container
    .row
      .col-8.col-xs-12
        .offer__content
          h2.h2.h2-dots what we offered at our barbershop

          p.p.p--margin-bottom  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque tempora distinctio unde ab. Ea a, neque minima, aut eius libero ut labore voluptatem deserunt mollitia corrupti autem excepturi maxime eveniet? Ea a, neque minima, aut eius libero ut labore voluptatem deserunt mollitia corrupti autem excepturi maxime eveniet?Ea a, neque minima, aut eius libero ut labore voluptatem deserunt mollitia corrupti autem excepturi maxime eveniet?Ea a, neque minima, aut eius libero ut labore voluptatem deserunt mollitia corrupti autem excepturi maxime eveniet?

          p.p.p--margin-bottom Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quisquam animi, voluptatibus accusantium iste eveniet impedit eius facilis placeat pariatur rem expedita recusandae accusamus aspernatur quos, consequatur amet a atque!Ea a, neque minima, aut eius libero ut labore voluptatem deserunt mollitia corrupti autem excepturi maxime eveniet?Ea a, neque minima, aut eius libero ut labore voluptatem deserunt mollitia corrupti autem excepturi maxime eveniet?Ea a, neque minima, aut eius libero ut labore voluptatem deserunt mollitia corrupti autem excepturi maxime eveniet?

          button.btn-primary make and appointment

      .col-4.col-xs-12
        .offer__cards
          h4.h4
            | 01
            span.h4__text care for you hair

          p.p.p--margin-bottom Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, obcaecati fuga aspernatur deserunt.

          h4.h4
            | 02
            span.h4__text care for you hair

          p.p.p--margin-bottom Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, obcaecati fuga aspernatur deserunt.

          h4.h4
            | 03
            span.h4__text care for you hair
          p.p.p--margin-bottom Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, obcaecati fuga aspernatur deserunt.