section.pricings
  .container
    .header-text
      h2.h2.h2-dots--dots-white plans & pricings
      p.p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita porro recusandae ex libero consequatur.

    .row
      .col-4.col-sm-12
        ul.pricings__price-list
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
      .col-4.col-sm-12
        ul.pricings__price-list
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
      .col-4.col-sm-12
        ul.pricings__price-list
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99
          li.pricings__price
            span Normal Men´s Cut
            span $ 16,99