section.services
  .container
    .row
      .col-4.col-sm-7.col-xs-12
        a.image-box(href="#")
          img(src="images/services-1.jpg", alt="hair cuts")
          .title-photo
            p hair cuts
        
      .col-4.col-sm-7.col-xs-12
        a.image-box(href="#")
          img(src="images/services-2.jpg", alt="collection")
          .title-photo
            p collection
      .col-4.col-sm-7.col-xs-12
        a.image-box(href="#")
          img(src="images/services-3.jpg", alt="beards")
          .title-photo
            p beards
