.container {
  @include wrapper();
}

.container-3-columns {
  .row {
    @include row-flex();
    justify-content: space-between;
    @include xs(justify-content, center);

    .col {
      @include col();
      @include size(4);
      @include size-xs(12);
    }
  }
}

.container-2-columns {
  .row {
    @include row-flex();
    justify-content: space-between;

    .col-8 {
      @include col();
      @include size(8);
      @include size-xs(12);

      .row {
        @include row-flex();
        justify-content: space-between;

        .col {
          @include col();
          @include size(6);
          @include size-xs(12);
        }
      }
    }

    .col-4 {
      @include col();
      @include size(4);
      @include size-xs(12);
    }
  }
}