.container-fluid {
  max-width: 2560px;
  margin: 0 auto;
  padding: 0 15px;


  .row {
    display: flex;
    flex-wrap: wrap;



    @include to($max_width: 1024px) {
      justify-content: center;
    }

    .col {
      width: 50%;

      @include to($max_width: 1024px) {
        width: 75%;
      }

      @include to($max_width: 480px) {
        width: 100%;
      }
    }
  }
}

.container {
  @include wrapper();

  .row {
    @include row-flex();
    // justify-content: space-between;

    .col-3 {
      @include col();
      @include size(3);
    }

    .col-4 {
      @include col();
      @include size(4);
    }

    .col-6 {
      @include col();
      @include size(6);
    }

    .col-8 {
      @include col();
      @include size(8);
    }

    .col-9 {
      @include col();
      @include size(9);
    }

    .col-12 {
      @include col();
      @include size(12);
    }

    .col-lg-6 {
      @include col();
      @include size-lg(6);
    }

    .col-md-12 {
      @include col();
      @include size-md(12);
    }

    .col-sm-7 {
      @include col();
      @include size-sm(7);
    }

    .col-sm-12 {
      @include col();
      @include size-sm(12);
    }

    .col-xs-12 {
      @include col();
      @include size-xs(12);
    }


  }
}