section.container-fluid.featured
  .featured-container
    .row
      .col
        .featured__featured-photo
          img(src="images/shave-beard-3.jpg", alt="shave beard")
      .col
        .featured__featured-text
          .icon-salon-svg
          h2 cutting beards with style
          h3 for good looking men only
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam possimus iusto, voluptas sunt ipsum placeat magni provident nisi. Molestias voluptas aliquid modi id tempora a, perferendis facere. Minima, fugit!
          button.btn-primary.btn-width-featured(type='button') check our services
              





