section.products
  .container.container-4-columns 
    .row
      .col
        .our-products
          h4 our products
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur tenetur ab, adipisci nisi modi qui facere natus tempora perspiciatis.
          button.btn-primary view all products
      .col
        figure
          a(href="#")
            <img src="images/products/product-img-1.jpg" alt="The Pulpit Rock">
          button.btn-primary(type="submit") + add to cart 
        .low-content
          h4 men's shaving kit N°1
          .prise
            span.actual $85.00
            span.current $65.00
      .col
        figure
          a(href="#")
            img(src="images/products/product-img-2.jpg" alt="The Pulpit Rock")
          button.btn-primary(type="submit") + add to cart 
        .low-content
          h4 pure-shave balm
          .prise
            span.actual $28.00
            span.current $19.00
      .col
        figure
          a(href="")
            img(src="images/products/product-img-3.jpg" alt="The Pulpit Rock")
          button.btn-primary(type="submit") + add to cart  
        .low-content
          h4 gentleman shaver
          .prise
            span.actual $85.00
            span.current $65.00
  