section.products
  .container.container-4-columns 
    .header-text
      h2.h2-dots our products
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
    .row
      .col
        figure
          a(href="#")
            .img-product(style="background-image: url('images/products/product-img-4.jpg')")
          button.btn-primary(type="submit") + add to cart 
        .low-content
          h4 men's scissors
          .prise
            span.actual $85.00
            span.current $65.00
      .col
        figure
          a(href="#")
            .img-product(style="background-image: url('images/products/product-img-1.jpg')")
          button.btn-primary(type="submit") + add to cart 
        .low-content
          h4 men's shaving kit N°1
          .prise
            span.actual $85.00
            span.current $65.00
      .col
        figure
          a(href="#")
            .img-product(style="background-image: url('images/products/product-img-2.jpg')")
          button.btn-primary(type="submit") + add to cart 
        .low-content
          h4 pure-shave balm
          .prise
            span.actual $28.00
            span.current $19.00
      .col
        figure
          a(href="")
            .img-product(style="background-image: url('images/products/product-img-3.jpg')")
          button.btn-primary(type="submit") + add to cart  
        .low-content
          h4 gentleman shaver
          .prise
            span.actual $85.00
            span.current $65.00
  