section.services-features
  .container.container-3-columns
    header.services-features__text-header
      h2.h2-dots.h2 our services
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
    
    .row
      .col-4.col-xs-12
        .services-features__text-col
          .icon-svg.icon-razor
          h3 title
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laudantium sunt eveniet molestias aperiam autem, distinctio.
      .col-4.col-xs-12
        .services-features__text-col
          .icon-svg.icon-scissor
          h3 title
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laudantium sunt eveniet molestias aperiam autem, distinctio.
      .col-4.col-xs-12
        .services-features__text-col
          .icon-svg.icon-brush
          h3 title
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laudantium sunt eveniet molestias aperiam autem, distinctio.


