section.services
  .container.container-3-columns
    .row
      .col
        a.image-box(href="#")
          img(src="images/services-1.jpg", alt="hair cuts")
          .title-photo
            p hair cuts
        
      .col
        a.image-box(href="#")
          img(src="images/services-2.jpg", alt="collection")
          .title-photo
            p collection
      .col
        a.image-box(href="#")
          img(src="images/services-3.jpg", alt="beards")
          .title-photo
            p beards
