.container-fluid.slider-container
  .slider
    .slider__relative
    .slider__images
      img.slide.active(src='images/slider-photo-1.jpg', alt='slider-photo-1')
      img.slide(src='images/slider-photo-2.jpg', alt='slider-photo-2')
      img.slide(src='images/slider-photo-3.jpg', alt='slider-photo-3')
    .buttons
      #prev.buttons__button-left
        .arrow-left
      #next.buttons__button-right
        .arrow-right
    .dots
      .dot.dot-active
      .dot
      .dot

