section.team
  .container.container-4-columns
    .header-text
      h2.h2-dots meet the team
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.

    .row
      .col
        .img-block-animate
          .img-box
            img(src="images/team/featured-image-1.jpg", alt="photo")
            img.img-employ(src="images/team/team-image-1.jpg", alt="photo Javeria Doe")
          .lower-content
            h4 javeria doe
            p Shop Owner
            button.btn-primary(type='button') book now
      .col
        .img-block-animate
          .img-box
            img(src="images/team/featured-image-2.jpg", alt="photo")
            img.img-employ(src="images/team/team-image-2.jpg", alt="photo Jasmine Thomas")
          .lower-content
            h4 Jasmine Thomas
            p Hairdresser
            button.btn-primary(type='button') book now
      .col
        .img-block-animate
          .img-box
            img(src="images/team/featured-image-3.jpg", alt="photo")
            img.img-employ(src="images/team/team-image-3.png", alt="photo Rebecca Moor")
          .lower-content
            h4 Rebecca Moor
            p Hairdresser
            button.btn-primary(type='button') book now
      .col
        .img-block-animate
          .img-box
            img(src="images/team/featured-image-4.jpg", alt="photo")
            img.img-employ(src="images/team/team-image-4.png", alt="photo Nicklas Monig")
          .lower-content
            h4 nicklas monig
            p stylist
            button.btn-primary(type='button') book now
  