section.welcome
  .section-text
    
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quibusdam, fugit adipisci aut modi tenetur consequatur cupiditate corrupti temporibus, nostrum optio sed, velit dignissimos repellat delectus fugiat. Dolor, obcaecati nihil?

    

  .section-photo