section.about-us
  .container
    .row
      .col-6.col-md-12
        .about-us__box-content
          .icon-salon.icon-svg 
          h2.h2.h2-dots we are shaving, cutting and cleaning
          h3.h3 for your goodness
          p.p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum pariatur dolores porro, dolore commodi recusandae animi harum in aliquid ullam ad nemo assumenda quae voluptas fugiat dolor reiciendis nam! Eum!
          button.btn-primary read more

      .col-6.col-md-12
        .about-us__box-photo
          .photo(style="background-image: url('images/about-us/about-us.jpg')")