section.latest-blogposts
  .container.container-3-columns
    h2.h2.h2-dots latest blog posts
    .row
      .col-4.col-md-12
        .latest-blogposts__blogposts-content
          .photo-bg(style="background-image: url('images/latest-blogposts/blog-image-1.jpg')")
          .content
            h5.h5 best hair cuts for men
            p.p-name-colored wirtten by Jonathan Doe / 24th Jan, 2016
            p.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam.
            a.btn-read-more(href="#") read more

      .col-4.col-md-12
        .latest-blogposts__blogposts-content
          .photo-bg(style="background-image: url('images/latest-blogposts/blog-image-2.jpg')")
          .content
            h5.h5 how to shave your beard right
            p.p-name-colored has wirtten by Jonathan Doe / 24th Jan, 2016
            p.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam.
            a.btn-read-more(href="#") read more

      .col-4.col-md-12
        .latest-blogposts__blogposts-content
          .photo-bg(style="background-image: url('images/latest-blogposts/blog-image-3.jpg')")
          .content
            h5.h5 get the cleanest cut here
            p.p-name-colored wirtten by Jonathan Doe / 24th Jan, 2016
            p.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam.
            a.btn-read-more(href="#") read more
