section.our-skills
  .container
    .row
      .col-6.col-md-12
        .our-skills__skills
          h2.h2.h2-dots our skills
          .progress-content
            p.p.p--uppercase hair cutting
            .progress-bar
              .progress.progress--hair-cutting(style="width: 90%;", data-content="90%")

            p.p.p--uppercase beard shaving
            .progress-bar
              .progress.progress--beard-shaving(style="width: 76%;", data-content="76%")

            p.p.p--uppercase cleaning & washing
            .progress-bar
              .progress.progress--leaning-washing(style="width: 92%;", data-content="92%")

            p.p.p--uppercase other staff
            .progress-bar
              .progress.progress--other-staff(style="width: 72%;", data-content="72%")

      .col-6.col-md-12
        .our-skills__experience
          h2.h2.h2-dots working experience
          .experience-content
            p.p.p--colorful June 2015 - Today
            p.p.p--bottom shaving company in over 16 different countries

            p.p.p--colorful June 2015 - Today
            p.p.p--bottom shaving company in over 16 different countries

            p.p.p--colorful June 2015 - Today
            p.p.p--bottom shaving company in over 16 different countries

            p.p.p--colorful June 2015 - Today
            p.p.p--bottom shaving company in over 16 different countries

