* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;


  @include reset();
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.h2 {
  position: relative;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;


    &:before,
    &:after {
      content: '';
      background-image: url('images/h2-square.svg');
      // position: absolute;
      width: 10px;
      height: 10px;
    }


}
