* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  @include reset();
  font-size: 11px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 100px;
}

figure {
  margin: 0;
}

button {
  outline: none;
}

#home-page {
  display: none;
}

#about-page {
  display: none;
}