//style.
//    h1.col-h1 {
//        color: red;
//    }
//
//.calculator
//    h1.col-h1 hello from component calculator
//
//script.
//    function myFunction() {
//        let col = document.querySelector('.col-h1');
//
//        col.addEventListener('click', function() {
//            alert('hello from calculator');
//        });
//    };
//    myFunction();



