doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Barbershop
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,900', rel='stylesheet')

    //- script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=true')




  body
    include partials/_nav
    include partials/_search-popup
    include pages/contacts/_contact-us
    include partials/_footer

    
    script(type='text/javascript').
      function initMap() {

        // The location of Uluru
        const uluru = {
          lat: -25.344,
          lng: 131.036
        };
        // The map, centered at Uluru

        const map = new google.maps.Map(document.querySelector('#map'), {
          zoom: 4,
          center: uluru
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      };
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyByHTr8Fvy0PlhyGb7SimL5VdbctQVkZ_E&callback=initMap', async, defer)


