doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Barbershop
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,900', rel='stylesheet')

  body
    include partials/_nav
    include partials/_search-popup
    include partials/_slider
    include pages/home/_welcome
    include pages/home/_featured
    include pages/home/_services-features
    include pages/home/_team
    include pages/home/_products
    include partials/_footer



  

 
