.slider-container {
  margin-bottom: 5%;

  .slider {
    position: relative;
    height: 100vh;

    @include to($max_width: 480px) {
      height: 80vh;
    }

    &__relative {
      padding-top: 50%;
      height: 0;
    }

    &__images {
      .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s;
        object-fit: cover;

      }

      .active {
        opacity: 1;
      }
    }

    .buttons {
      position: absolute;
      z-index: 1;
      top: 50%;
      width: 100%;
      height: 20%;
      transform: translateY(-50%);

      #next,
      #prev {
        cursor: pointer;

        &:hover .arrow-left, &:hover .arrow-right {
          border-color: #000;
        }
      }

      &__button-left,
      &__button-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        width: 50px;
        border-radius: 5px;
        border: 1px solid #bea88b;
        height: 50px;
        z-index: 5;
        transition: background 0.3s ease;

        &:hover {
          background: #bea88b;

        }

        .arrow-right,
        .arrow-left {
          position: absolute;
          top: 50%;
          width: 27%;
          height: 27%;
        }
      }

      &__button-right {
        right: 2%;

        .arrow-right {
          right: 40%;
          transform: translateY(-50%) rotate(45deg);
          border-top: solid 2px;
          border-right: solid 2px;
          border-color: #fff;
        }
      }

      &__button-left {
        left: 2%;

        .arrow-left {
          left: 40%;
          transform: translateY(-50%) rotate(-45deg);
          border-top: solid 2px;
          border-left: solid 2px;
          border-color: #fff;

        }
        
      }
    }

    .dots {
      position: absolute;
      z-index: 5;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -5%);

      .dot {
        display: inline-block;
        margin: 0 10px;
        background-color: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
      }

      .dot-active {
        background-color: #000;
        opacity: 1;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition: all 0.5s ease;
      }
    }
  }
}