section.blog
  .container
    .row
      .col-8.col-sm-12
        .latest-blogposts__blogposts-content
          .photo-bg(style="background-image: url('images/blog/blog-1.jpg')")
          .content
            h5.h5 how to shave your beard right
            p.p-name-colored has wirtten by Jonathan Doe / 24th Jan, 2016
            p.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam.
            a.btn-read-more(href="#") read more

        .latest-blogposts__blogposts-content
          .photo-bg(style="background-image: url('images/blog/blog-2.jpg')")
          .content
            h5.h5 how to shave your beard right
            p.p-name-colored has wirtten by Jonathan Doe / 24th Jan, 2016
            p.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam.
            a.btn-read-more(href="#") read more

        .latest-blogposts__blogposts-content
          .photo-bg(style="background-image: url('images/blog/blog-3.jpg')")
          .content
            h5.h5 how to shave your beard right
            p.p-name-colored has wirtten by Jonathan Doe / 24th Jan, 2016
            p.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, unde. Adipisci nam alias dolor? Maxime qui cum magni saepe. Rem, tempore. Eligendi aperiam facere a eius adipisci ea vitae aliquam.
            a.btn-read-more(href="#") read more

        .pagination
          a(href='#') «
          a.active(href='#') 1
          a(href='#') 2
          a(href='#') 3
          a(href='#') 4
          a(href='#') 5
          a(href='#') »

      .col-4.col-sm-12
        aside.sidebar
          .columns
            .col
              form.form-group(action="#")
                input(type="text" placeholder="Search")
                button(type="submit") >

            .col
              .popular-categories
                h3.h3--bordered-bottom categories
                ul
                  li
                    a(href="") barber
                     span >
                  li
                    a(href="") shave
                     span >
                  li
                    a(href="") beard
                     span >
                  li
                    a(href="") barbershop
                      span >
                  li
                    a(href="") cut & style
                      span >
                  li
                    a(href="") cleaning & washing
                     span >
                  li
                    a(href="") gentlemen
                     span >
            .col
              .recent-posts
                h3.h3--bordered-bottom latest blogposts

                .posts
                  .post
                    .item-1
                      a(href="#")
                        .img(style="background-image: url('images//products/product-img-1.jpg');")
                    .item-2
                      a(href="#") Lorem ipsum dolor sit amet consetetur
                      h5.post-data 11/01/2019
                  .post
                    .item-1
                      a(href="#")
                        .img(style="background-image: url('images//products/product-img-1.jpg');")
                    .item-2
                      a(href="#") Lorem ipsum dolor sit amet consetetur
                      h5.post-data 11/01/2019
                  .post
                    .item-1
                      a(href="#")
                        .img(style="background-image: url('images//products/product-img-1.jpg');")
                    .item-2
                      a(href="#") Lorem ipsum dolor sit amet consetetur
                      h5.post-data 11/01/2019
               

            .col
              .recent-gallery
                h3.h3--bordered-bottom recent gallery

                .images
                  .image
                    a(href="#")
                      .img(style="background-image: url('images//products/product-img-1.jpg');")
                  .image
                    a(href="#")
                      .img(style="background-image: url('images//products/product-img-2.jpg');")
                  .image
                    a(href="#")
                      .img(style="background-image: url('images//products/product-img-3.jpg');")
                  .image
                    a(href="#")
                      .img(style="background-image: url('images//products/product-img-2.jpg');")
                  .image
                    a(href="#")
                      .img(style="background-image: url('images//products/product-img-3.jpg');")
                  .image
                    a(href="#")
                      .img(style="background-image: url('images//products/product-img-1.jpg');")

            .col
              .popular-tags
                h3.h3--bordered-bottom popular tags

                .tags
                  .tag
                    a.btn-primary--border-hover(href="#") hair cuts
                  .tag
                    a.btn-primary--border-hover(href="#") beard shave
                  .tag
                    a.btn-primary--border-hover(href="#") barber
                  .tag
                    a.btn-primary--border-hover(href="#") shop
                  .tag
                    a.btn-primary--border-hover(href="#") clean
                  .tag
                    a.btn-primary--border-hover(href="#") styling
                  .tag
                    a.btn-primary--border-hover(href="#") gents


          