section.shop
  .container
    .row
      .col-3.col-lg-6.col-xs-12
        .shop-card
          figure
            a(href="#")
              .img-product(style="background-image: url('images/products/product-img-4.jpg')")
            button.btn-primary(type="submit") + add to cart 
          .low-content
            h4 gentleman shaver
            .prise
              span.actual $85.00
              span.current $65.00
      .col-3.col-lg-6.col-xs-12
        .shop-card
          figure
            a(href="#")
              .img-product(style="background-image: url('images/products/product-img-1.jpg')")
            button.btn-primary(type="submit") + add to cart 
          .low-content
            h4 gentleman shaver
            .prise
              span.actual $85.00
              span.current $65.00
      .col-3.col-lg-6.col-xs-12
        .shop-card
          figure
            a(href="#")
              .img-product(style="background-image: url('images/products/product-img-2.jpg')")
            button.btn-primary(type="submit") + add to cart 
          .low-content
            h4 gentleman shaver
            .prise
              span.actual $28.00
              span.current $19.00
      .col-3.col-lg-6.col-xs-12
        .shop-card
          figure
            a(href="")
              .img-product(style="background-image: url('images/products/product-img-3.jpg')")
            button.btn-primary(type="submit") + add to cart  
          .low-content
            h4 gentleman shaver
            .prise
              span.actual $85.00
              span.current $65.00
      .col-3.col-lg-6.col-xs-12
        .shop-card
          figure
            a(href="")
              .img-product(style="background-image: url('images/products/product-img-5.jpg')")
            button.btn-primary(type="submit") + add to cart  
          .low-content
            h4 gentleman shaver
            .prise
              span.actual $85.00
              span.current $65.00
      .col-3.col-lg-6.col-xs-12
        .shop-card
          figure
            a(href="")
              .img-product(style="background-image: url('images/products/product-img-6.jpg')")
            button.btn-primary(type="submit") + add to cart  
          .low-content
            h4 gentleman shaver
            .prise
              span.actual $85.00
              span.current $65.00
      .col-3.col-lg-6.col-xs-12
        .shop-card
          figure
            a(href="")
              .img-product(style="background-image: url('images/products/product-img-7.jpg')")
            button.btn-primary(type="submit") + add to cart  
          .low-content
            h4 gentleman shaver
            .prise
              span.actual $85.00
              span.current $65.00
      .col-3.col-lg-6.col-xs-12
        .shop-card
          figure
            a(href="")
              .img-product(style="background-image: url('images/products/product-img-8.jpg')")
            button.btn-primary(type="submit") + add to cart  
          .low-content
            h4 gentleman shaver
            .prise
              span.actual $85.00
              span.current $65.00

    .pagination
      a(href='#') «
      a.active(href='#') 1
      a(href='#') 2
      a(href='#') 3
      a(href='#') 4
      a(href='#') 5
      a(href='#') »
          
