section.contact-us

  .container
    .wrapper-map
      .ratio
      #map

    form.contact-form(action="#")
      h2.h2.h2-dots contact us
      .row
        .col-3.col-lg-6.col-sm-12
          <label>full name<sup>*</sup></label>
          input(type="text", placeholder="Full Name")

        .col-3.col-lg-6.col-sm-12
          <label>email address<sup>*</sup></label>
          input(type="text", placeholder="Email Address")

        .col-3.col-lg-6.col-sm-12
          <label>phone number<sup>*</sup></label>
          input(type="text", placeholder="Phone Number")

        .col-3.col-lg-6.col-sm-12
          <label>time arrangement<sup>*</sup></label>
          input(type="text", placeholder="Time Arrangement")

        .col-12
          <label>your message<sup>*</sup></label>
          <textarea name="message" placeholder="Message"></textarea>

      button.btn-primary(type='button') quick appointment
